table {
	margin: 0 auto;
}

form {
	background-color: #ffd5d5;
	border-radius: 10px;
	padding: 10px;
	width: 500px;
/ /
	position: absolute; //
	left: 50%; //
	top: 200; //
	// margin-left: -200px; /* -largeur/2 */
	margin-left: auto;
	margin-right: auto;
}

form.login {
	width: 396px;
}

fieldset {
	padding: 0 20px 20px 20px;
	margin-bottom: 10px;
	border: 1px solid #DF3F3F;
}

legend {
	color: #DF3F3F;
	font-weight: bold;
}

label {
	margin-top: 1px;
	display: block;
	width: 200px;
	float: left;
}

label.login {
	width: 120px;
}

label.inline {
	display: inline;
	margin-right: 50px;
}

input, textarea, select, option {
	background-color: #FFF3F3;
}

input, textarea, select {
	padding: 3px;
	border: 1px solid #F5C5C5;
	border-radius: 5px;
	width: 200px;
	box-shadow: 1px 1px 2px #C0C0C0 inset;
}

input#login, input#pass {
	width: 150px;
}

select {
	margin-top: 10px;
}

input[type=radio] {
	background-color: transparent;
	border: none;
	width: 10px;
}

input[type=submit], input[type=reset] {
	width: 100px;
	margin-left: 5px;
	box-shadow: 1px 1px 1px #D83F3D;
	cursor: pointer;
	float: right;
	display: block;
}

#labels {
	width: 120px;
	float: left;
	display: block;
}

#champs {
	width: 200px;
	float: left;
	display: block;
}

.centrer {
	 text-align: center;
 }

.alignerAdroite {
	text-align: right;
}

footer {
	clear: both;
	position: relative;
	z-index: 10;
	height: 6em;
	margin-top: 1em;
	text-align: center;
	background-color: #AAA;
	font-weight: bold;
}


li.fichiers {
    background-color: #fff;
    color: #000;
    font-size: 14px;
    list-style-type: none;
    width: 40%;
    margin: 0px auto;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
}


.doc {
	margin-top: 1px;
	display: inline;
	width: 200px;
	float: none;
	color: #DF3333;
}

/* Gestion de popin jquery */
.contenu_popup {
	background-color: #FFFFFF;
	border: 1px solid #DF3333;
	cursor: default;
	display: none;
	margin-top: 15px;
	position: absolute;
	text-align: left;
	width: 400px;
	z-index: 50;
	padding: 2px 2px;
}

span.selected {
	background-color: #1F75CC;
	color: white;
	z-index: 100;
}


#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;
}

#sortable li {
	margin: 1px 1px 1px 1px;
	padding: 0.1em;
	padding-left: 1.5em;
	font-size: 1em;
	/* height: 18px; */
}

#sortable li span {
	position: absolute;
	margin-left: -1.3em;
}

.lienMentionsLegales {
	font-size: x-small;
}


.star { display: inline-block; background: url("../images/icones/star.png") no-repeat; width: 25px; height: 25px }
.star_hover { display: inline-block; background: url("../images/icones/star.png") no-repeat; background-position: 0 -25px; width: 25px; height: 25px }