body {
    background-image: url("../images/navigation/fond.png");
    background-repeat: repeat;
    background-attachment: fixed;
}


/* Barre de navigation */

.navigation {
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    /* height: 60px; */
    font-family: 'Roboto', sans-serif;
    /*position: fixed;*/
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h1 {
    color: #000000;
    font-size: 26px;
    z-index: 999;
    padding-left: 20px;
}

.navigation ul {
    /*position: fixed;*/
    left: 400px;
    top: 5px;
    vertical-align: middle;
}

.navigation li {
    color: #666666;
    display: inline-block;
    text-align: right;
    font-size: 11px;
}

/*  Corps de la page */

.contentcontent-box {
    background: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    position: relative;
    top: 100px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-cookies {
    background: rgba(255, 155, 155, 0.75);
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 10px;
    z-index:  2;
    position: absolute;
    top: 10px;
    left: 720px;
    width: 400px;
    height: 55px;
    color: black;
    font-size: 11px;
    padding-left: 15px;
    border: 5px;
    border-radius :22px;
}

.songbook {
    background-color: #FFF;
    list-style: none;
    margin: 10px 10px 10px 10px;
    /*width: 100%;*/
    padding: 20px 40px;
    width: 400px;
    border-radius: 34px;
    float: left;
}

.titres {
    /*  background-color: #FFF;*/
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: right;
}

.songbook .pochette {
    background-color: #FFF;
}

.songbook img {
    background-color: #FFF;
    float: left;
    vertical-align: middle;
    width: 50%;
}

.madate {
    color: #666666;
    background-color: #ffa0a0;
    text-align: center;
    width: 100%;
    vertical-align: bottom;
}

.songbook a {
    text-decoration: none;
    color: black;
}

img {
    border: 0;
}

.mentionsLegales {
    background: rgba(255, 255, 255, 0.89);
    margin: 0 auto;
    position: relative;
    top: 100px;
    width: 80%;
   /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap;*/
}