<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <php>
        <const name="PHPUNIT_RUNNING" value="true"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests</directory>
            <exclude>tests/smoke</exclude>
        </testsuite>
        <testsuite name="Smoke">
            <directory>tests/smoke</directory>
        </testsuite>
    </testsuites>
</phpunit>
